<header class="artist-bg">
  <div class="artist-profile">
    <img src="/images/artist-profile.jpg" alt="" class="profile-picture">

    <div class="about-artist">
      <h1 class="artist-name">
        <a href="#">Jane Burri</a>
      </h1>

      <a href="#" class="genre">Postrock</a>
    </div>
  </div>

  <div class="support">
    <button class="btn support">Support</button>
    <button class="btn follow">Follow</button>
  </div>
</header>
