<nav class="main-nav">
  <h1 class="logo">
    <a href="#">
      <i class="fa fa-headphones" aria-hidden="true"></i>
      NoirDoor<a>
  </h1>

  <a href="#" class="nav-link">Home</a>
  <a href="#" class="nav-link">Artits</a>
  <a href="#" class="nav-link">About</a>
</nav>
