<div id="player-container">
  <div class="track-info">
    <img src="/images/firework.jpg" alt="track image" class="track-image">

    <p>
      <span class="track-name">firework</span><br>
      <span class="album-name">anatomy of the bear</span>
    </p>
  </div>

  <div class="player">
    <div class="wave">

    </div>
    <div class="controlls-container">
      <span class="track-length">0:00</span>
      <div class="controlls">
        <button class="fa fa-step-backward" aria-hidden="true" id="previous"></button>
        <button class="fa fa-play" aria-hidden="true" id="play"></button>
        <button class="fa fa-step-forward" aria-hidden="true" id="next"></button>
      </div>
      <span class="countdown">0:00</span>
    </div>
  </div>
</div>
