<main>
  <section class="container top-songs">
    <h3>top songs by jane</h3>

    <div class="songs-container">
      <div class="song" id="is-playing">
        <img src="/images/album01.jpg" alt="album cover">

        <div class="song-info">
          <h3 class="song-name">FireWork</h3>
          <span class="album">Anatomy of the bear</span>
        </div>

        <button class="play-button">
          <i class="fa fa-play is-playing" aria-hidden="true"></i>
        </button>
      </div> <!--end of song-->
      <div class="song">
        <img src="/images/album01.jpg" alt="album cover">

        <div class="song-info">
          <h3 class="song-name">FireWork</h3>
          <span class="album">Anatomy of the bear</span>
        </div>

        <button class="play-button">
          <i class="fa fa-play is-playing" aria-hidden="true"></i>
        </button>
      </div><!--end of song-->
      <div class="song">
        <img src="/images/album01.jpg" alt="album cover">

        <div class="song-info">
          <h3 class="song-name">FireWork</h3>
          <span class="album">Anatomy of the bear</span>
        </div>

        <button class="play-button">
          <i class="fa fa-play" aria-hidden="true"></i>
        </button>
      </div> <!--end of song-->
    </div>
  </section>

  <section class="container similar-artists">
    <h3>similar artists</h3>
    <div class="artists">
      <figure>
        <img src="/images/similar-artist.jpg" alt="artist picture">
        <figcaption>
          <h3>
            <a href="#">john michael</a>
          </h3>
          <span>Postrock</span>
        </figcaption>
      </figure>
    </div> <!--end of artist-->
    <div class="artists">
      <figure>
        <img src="/images/similar-artist.jpg" alt="artist picture">
        <figcaption>
          <h3>
            <a href="#">john michael</a>
          </h3>
          <span>Postrock</span>
        </figcaption>
      </figure>
    </div><!--end of artist-->
    <div class="artists">
      <figure>
        <img src="/images/similar-artist.jpg" alt="artist picture">
        <figcaption>
          <h3>
            <a href="#">john michael</a>
          </h3>
          <span>Postrock</span>
        </figcaption>
      </figure>
    </div> <!--end of artist-->
  </section>
</main>
