<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jane - indi artist</title>
  </head>
  <body>
    <p>haya! listen to jane's new album. it's just dropped out yesterday. be the first to listen to this great album</p>
    <% include views/partial %>
  </body>
</html>
