<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jane - indi artist</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <% include views/partial %>
    <script type="text/javascript" src="scripts/bundle.js"></script>
  </body>
</html>
