@import url("https://fonts.googleapis.com/css?family=Open+Sans|Palanquin+Dark");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Colors*/
/*Fonts*/
* {
  box-sizing: border-box; }

a, img {
  display: inline-block; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

span {
  display: inline-block; }

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: #464d50; }

nav {
  background: #4C4D50;
  height: 74px;
  padding: 10px 15px;
  display: flex;
  align-items: center; }
  nav .logo {
    margin-right: auto;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase; }
    nav .logo a {
      color: #07a34a; }
  nav .nav-link {
    position: relative;
    margin: 0 10px;
    font-weight: 700;
    color: #9da5a9;
    text-transform: uppercase;
    height: 100%;
    line-height: 54px; }

.artist-bg {
  background: url("/images/artist-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  min-height: 400px; }
  @media screen and (max-width: 720px) {
    .artist-bg {
      flex-direction: column; } }
  .artist-bg .artist-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 900px) {
      .artist-bg .artist-profile {
        flex-basis: 60%; } }
    .artist-bg .artist-profile .profile-picture {
      width: 200px;
      border-radius: 50%;
      border: 5px solid #f8efd2;
      margin-right: 15px; }
    .artist-bg .artist-profile .about-artist .artist-name {
      font-family: 'Palanquin Dark', sans-serif;
      font-size: 2em;
      margin-bottom: 10px; }
      .artist-bg .artist-profile .about-artist .artist-name a {
        color: #4C4D50;
        text-decoration: underline; }
    .artist-bg .artist-profile .about-artist .genre {
      color: #65666a;
      font-size: 1.2em; }
  .artist-bg .support {
    align-self: center; }
    .artist-bg .support .btn {
      padding: 10px 25px;
      border-radius: 20px;
      font-weight: 700;
      cursor: pointer;
      transition: all 300ms ease; }
    .artist-bg .support .support {
      background: #4f9105;
      color: #fff;
      border: 1px solid #fff;
      margin: 0 10px; }
      .artist-bg .support .support:hover {
        background: #5caa06; }
    .artist-bg .support .follow {
      border: 1px solid #4f9105;
      background: #fff;
      color: #4f9105; }
      .artist-bg .support .follow:hover {
        background: #f2f2f2; }

@media screen and (max-width: 780px) {
  .similar-artists {
    order: -1; } }

figure:hover {
  background: #292929; }

figure img {
  border-radius: 50%;
  margin-right: 10px; }

figure figcaption {
  align-self: center; }
  figure figcaption h3 {
    margin-bottom: 10px; }
    figure figcaption h3 a {
      color: #07a34a; }
  figure figcaption span {
    color: #171717; }

.song .song-info {
  margin-right: auto;
  margin-left: 5px; }
  .song .song-info .song-name {
    margin: 5px 0;
    font-weight: 700;
    color: #5e676b; }
  .song .song-info .album {
    font-size: 0.9em;
    color: #484848; }

.song .play-button {
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #171515; }
  .song .play-button i {
    font-size: 1.5em;
    color: #4f9105; }

#is-playing {
  background: #1f1e1e; }
  #is-playing .song-name,
  #is-playing .album {
    color: #4f9105; }

main {
  display: flex;
  justify-content: space-around;
  margin-top: 55px; }
  @media screen and (max-width: 720px) {
    main {
      flex-direction: column;
      align-items: center; } }
  main .container {
    width: 350px;
    background: rgba(0, 0, 0, 0.4);
    border-top: 3px solid #4f9105;
    padding: 20px 0;
    margin-bottom: 15px; }
    main .container > h3 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.0em;
      font-weight: 700;
      color: #aaa386; }
    main .container img {
      width: 70px;
      height: 70px; }
    main .container .song,
    main .container figure {
      display: flex;
      margin-bottom: 10px;
      padding: 7px 10px; }

#player-container {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-top: 1px solid green;
  min-height: 100px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 720px) {
    #player-container {
      flex-direction: column;
      align-items: center; } }
  #player-container .track-info {
    align-self: center;
    display: flex;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #9da5a9;
    margin-right: 15px;
    padding: 15px; }
    #player-container .track-info .track-image {
      width: 100px;
      height: 100px;
      margin-right: 10px; }
    #player-container .track-info .track-name {
      margin: 10px; }

.player {
  flex: 1;
  max-width: 70%;
  margin-right: 5%;
  padding: 10px; }
  @media screen and (max-width: 720px) {
    .player {
      width: 90%; } }
  .player .controlls-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
    .player .controlls-container span {
      color: #9da5a9;
      font-weight: lighter; }
    .player .controlls-container button {
      background: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px;
      font-size: 1.2em;
      color: #9da5a9; }
    .player .controlls-container #play:hover {
      border: 1px solid #4f9105; }
